<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>I wanna go somewhere and eat banging food.</title>
  </head>
   <body>
     <ul>
       <li>
         <a href="/"> Let's get outta here!!</a>
       </li>
       <li>
         <a href="/countries">Countries</a>
        </li>
        <!-- <li>
          <a href="/countries/1">Scotland</a>
        </li>
        <li>
          <a href="/countries/2">Ireland</a>
        </li>
        <li>
          <a href="/countries/3">Spain</a>
        </li>
        <li>
          <a href="/countries/4">Portugal</a>
        </li> -->
     </ul>

    <%= yield %>

  </body>
</html>
