<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>I wanna go somewhere and eat banging food.</title>
  </head>
   <body>
     <ul>
       <li>
         <a class="nav" href="/"> Let's get outta here!!</a>
       </li>
       <li>
         <a class="nav" href="/countries">Countries</a>
        </li>

     </ul>

    <%= yield %>

  </body>
</html>
