<p>wazza</p>

<form class="" action="/cities/new" method="post">
  <label for="name">Wow, a new city on the horizon:</label>
  <input type="text" name="name" value="">
  <label for="travelled">You been here:</label>
  <select class="" name="travelled">
    <option value=True>Yes</option>
    <option value=False>No</option>
  </select>
  <input type="submit" name="new city" value="New city!">

</form>
