<h1>A New recommendation!</h1>

<form class="" action="/cities/<%= @city.id %>/gastronomies/new" method="post">
  <label for="name">What's this new haunt called?</label>
  <input type="text" name="name" value="">
  <label for="address">Where's this place at?</label>
  <input type="text" name="address" value="">
  <label for="food">What can we eat there?</label>
  <input type="text" name="food" value="">
  <label for="alcohol">They serving booze?</label>
  <input type="text" name="alcohol" value="">

  <input type="submit" name="" value="Show us the food!">


</form>
