<h1>Edit yo country</h1>

<form class="" action="/countries/edit/<%= @country.id %>" method="post">
  <label for="name">You got the name wrong?</label>
  <input type="text" name="name" value="<%=@country.name%>">
  <label for="travelled">Not been here?</label>
  <select class="" name="travelled">
    <option value=True>Yes</option>
    <<option value=False>No</option>

  </select>
<input type="submit" value="Update Country"/>

</form>
