<h1>Look at Marco Polo over here! Discovering new horizons!</h1>

<form class="" action="/countries/new" method="post">
  <label for="name">This brave new land is called:</label>
  <input type="text" name="name" value="">
  <label for="travelled">You been here:</label>
  <select class="" name="travelled">
    <option value=True>Yes</option>
    <option value=False>No</option>
  </select>
  <input type="submit" name="new country" value="New country!">

</form>
